<div ng-controller="AdiDaController" layout="row" layout-align="start center"> 
<div flex="30" style="margin:10px;"> 
<h3>Santosha's relationship to Avatar Adi Da Samraj</h3>
	    <p style="font-size:0.8em;">Throughout the book, Santosha gives many beautiful explanations of her 
        unique and mysterious relationship with Avatar Adi Da Samraj. Two excerpts are included here that are particularly descriptive of that mystery,  along with a letter she wrote to one of Adi Da's closest devotees.
        </p><img src="Images/ProfilesTile.jpg"/>
</div>
<div class="wrap_accord_da"> 
  <accordion close-others="true"> 
    <accordion-group is-open="true" heading = "An Open Letter to Julie Anderson (Jan 6, 2020)" >
      <p>Dear Julie,</p><p></p>
      <p>I want to send you a note of support and appreciation from me and Santosha Ma and the gang!  
        I have read a listened to all of your interviews with Beezone and Ed, and I really appreciate all 
        the work you are doing for Beloved Adi Da!</p>
        <p>You are a good communicator!  In a near void of leelas and tales about Sri Adi Da and his 
          passionate life with his intimate devotees, all you are telling is wonderful to hear. Thank you! </p>
      <p>Sorry to see there is no LOVE being returned from your offer of love and friendship, from the senior
         devotees you wrote to.</p>   
     <p>They are probably just afraid.</p>    
     <p>Much love and support, please continue, it is great you are doing what you are doing.</p>
     <p>Love,</p>
     <p>Torrey</p>
    </accordion-group>  
    <accordion-group heading = "A Story to Celebrate Adi Da's Birthday (November 3)" >
      <p>Happy Celebration of the birth and life of the Beloved of All. His appearance
        remains alive as the form of all Beings. We will continue in the work of the great
        love that He Is.</p><p>
        <img src="Images/flower-with-star-in-hand-design.jpg" />
        <img src="Images/flower-in-hand-1.png" /><img src="Images/flower-in-hand-2.png" />
        <img src="Images/flower-in-hand-3.png" /><img src="Images/flower-in-hand-4.jpg" />
      </p>
    </accordion-group>  
    <accordion-group heading = "A letter to Ruchiradama Quandra Sukhapur Rani" >
      <p>Dear Ruchiradama Quandra Sukhapur Rani,</p><p>
      Hello, dear sister of and as the Heart.  I am writing to you today to tell you of my secret, though it is an open secret and given freely to all those who are in need of it, today is the day I need to make a special specific gesture to reveal it in this personal way to you. I recognize your special dedication to the life and work of Avatar Adi da Samraj; your love and work to serve the Great Beloved is a shining example of how beautiful the  guru/devotee relationship is.</p>
      <p>I have been waiting to reveal to you my life and relationship to our Great Beloved. I have been his open secret, living a quiet life revealing to a small circle of friends the  beauty of this realization of Already Happy and acknowledging Avatar Adi Da as the  Source and Source Transmission.  Since the dropping of Avatar Adi Da's body, I have met a few leaders of Adidam and enjoyed the news of their life with Adi Da.  I also felt 
      their grief in His Passing and their struggle to carry on with the great purpose of continuing to serve Beloved's work.  They all felt that at a certain date it would be a good occasion for the two of us to meet.  They did not know how to bring this about and today I felt Beloved’s internal urging to open up my arms and heart to you. 
      I am asking for nothing, except to offer my love for Beloved to you and hopefully you will feel my love towards you as well.</p>
     <p>I did not know of any way to bring you my offering of love, it occurred to me to use 
       my website as a means to accomplish this.  This website includes both my story of my 
       life and recognition of Adi Da and some of my artwork that I have been doing for over 
       twenty years.  It will tell my story so to speak so you can understand my relationship 
       with Beloved.  It has been a great mystery why He has kept me his open secret.  The 
       Divine works in very mysterious ways and Its wisdom cannot, at times, be revealed and 
       even when it is revealed, at times, we can not understand it.  </p><p>For many years I have 
       been frustrated at Beloved's impulse for me to come forward and at the same time 
       Beloved has blocked this from happening. This has served me to serve his work in my 
       own way, which has strengthened my work and life in so many positive ways.  Often 
       I have received His instruction via dreams and visions. He often worked in dreams to 
       bring about a connection between us.  In the early period of this internal work you 
       would accept his instruction to ‘go hang out’ with Santosha to accomplish his instruction.  
       In the later periods we slowly learned to accept this arrangement of being thrown together 
       by Beloved and began to enjoy a natural friendship based on our love of Adi Da. </p><p>
        Perhaps you have some feeling of me, I don’t know.  All I can say is I am here for 
        you and I offer my service of open heart to you.  It stands, I am happy.</p><p>
        &nbsp;  &nbsp;  &nbsp;  &nbsp;Your sister,<br />
        &nbsp;  &nbsp;  &nbsp;  &nbsp; Always love, always the<br /> 
        &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp; Avatar Adi Da Samraj
      </p>
  </accordion-group>
  <accordion-group  heading="My love and submission to Adi Da">
  	<p>(p 124). . . my love and submission [to Adi Da] were not as one who 
            submits to law, to mere belief in rightful knowledge, or to superiority. 
            But it was as one who is guided and attracted beyond conditioning into the 
            disposition of the vastness of unknowing, of Divine Ignorance, as Heart-knowing 
            and Heart-revelation in direct experience. His Presence in my life was not one 
            of demanding forceful submission, or of forfeiting my own impulse of intuition. 
            It was His direct demonstration of His yielding to me, to attract me beyond false 
            identity as the separate one. He taught me the grace and art of yielding 
            conditioning, roles, identity, and even attention itself and the primal 
            root of being the separate one. He always asked me to discipline what was 
            false and to allow what was true to be felt, and to sensitize the body-mind. 
            He literally did this as mySelf, as the Divine Force that attracted me (what I 
            thought was me) to let go and allow what was True to be realized and made manifest.
    </p>
	

    
    </accordion-group>
    <accordion-group heading="He is the miracle man">
    <p>I was the ordinary woman<br/>
	            in understanding Himself<br/>
	            He has understood everything<br/>
	            Everything now understands<br/>
	            because of His understanding of everything</p>
	
	            <p>He is the man that love<br/>
	            always points to<br/>
	            In the dictionary of meanings<br/>
	            Love is His name<br/>
	            His name is Love's definition</p>
	
	            <p>I was the ordinary woman<br/>
	            who was attracted beyond mere appearances<br/>
	            to this miracle man<br/>
	            His recognition of Me<br/>
	            is the miracle He opened<br/>
	            I am now and forever the woman of understanding<br/>
	            I am the She of He<br/>
	            Everyone now understands<br/>
	            because of His understanding of every One</p>
  </accordion-group>
  </accordion> 
</div>    
</div>
