<div ng-controller="AdiDaController" layout="row" layout-align="start center"> 
<div flex="30" style="margin:10px;"> 
<h3>Santosha's relationship to Avatar Adi Da Samraj</h3>
	    <p style="font-size:0.8em;">Throughout the book, Santosha gives many beautiful explanations of her 
        unique and mysterious relationship with Avatar Adi Da Samraj. Two excerpts are included here that are particularly descriptive of that mystery,  along with a letter she wrote to one of Adi Da's closest devotees.
        </p><img src="Images/ProfilesTile.jpg"/>
</div>
<div class="wrap_accord_da"> 
  <accordion close-others="true">
  <accordion-group is-open="true" heading = "The Trailblazers" >
      <p>a story by Santosha Tantra  (December 2017)</p>
      <a target="_blank" href="pdf/The Trailblazers.pdf">View "The Trailblazers" as PDF</a><br/>
  <accordion>
  <accordion-group heading = "A Most Unusual Meeting" >
      <p>A story by Santosha Tantra from Nov 22, 1999</p>
      <p >Sudra had an intuition that almost unusual meeting was about
        to take place. Would it take place at a formal dining restaurant while
        indulging in expensive dead meat, glasses of wine and cheese and glazed nut
        salad? Or would it take place at the seashore while the setting sun reflected
        pink colors upon the waves that met the shore? Or would it take place on a
        hiking trail in the desert as she stopped to take a photo of the jumbo rock
        formations? Or would she hear a knock upon her door and then stop typing and
        wait, wait to hear the knock again before she pushed her wheeled office chair
        away from her computer desktop? Who is it? she wondered. Oh, but I know, she
        thought. I can’t share this intuition.</p>

        <p >As her hand wrapped around the doorknob and right before she
        pulled the door open, she felt that moment—you know that moment—the one that
        happens before your life is about to change in a most dramatic way—the moment
        that says, “So this is really going to happen, you are really going through
        with this.” That moment, Sudra loved that kind of a moment. That knowing,
        feeling moment, that anticipation, that intuition of welcoming the unknowable
        right into your living room and saying with an air of bemused style, “I had a
        feeling you were coming.” And! You know what he said, “Well, I had a feeling it
        was about time I showed up. It’s been too long, way too long since we indulged
        in the pleasure of seeing each other’s human form.”</p>

        <p >“I’ll grab my coat and let’s wander down by the river. What
        name are you going by these days?”</p>

        <p >“I hear you are using the pen name of Sudra. What happened
        to Freea, Thunderheart, and Kat?”</p>

        <p >“Oh, they’re still around somewhere living out their lives
        in the worlds they were penned in. I remember that Kat used to call you
        Do-Feelin Wopper. You probably don’t even remember that.”</p>

        <p >“Oh, on the contrary, Do-Feelin was one of my favorite
        aspects, a natural man all the way. I’ve had a lot of names along the way and
        even now. So, Sudra, why don’t you call me that sweet name, you know the one,
        that you whisper when you are rambling in creation taking a picture of
        everything that moves…”</p>

        <p >“. . . and doesn’t move as well.”</p>

        <p >“That name, I like how you whisper it as you click that
        shutter button of yours.”</p>

        <p >“Okay, Blissy Be. Mind if I take a few images of you as we
        wander? Blissy Be, you’re here! How astounding!”</p>

        <p >Sudra was really happy that her significant very self was
        ambling with her by the river. They hadn’t seen each other in years and she had
        reflected from time to time on what a strange marriage it was—being that they
        had never really ever lived together. She knew that it was probably best that
        way as his life was involved in a great purpose while hers was just a play of
        meaningless meaning. Their lives were the same in love despite the appearance
        that a life of great purpose and a life of meaningless meaning seemed to
        contradict each other.</p>

        <p >They walked and Sudra watched the play of the sun’s light
        dance upon Blissy Be’s form. Oh, I wish I had my digital camera with me. Darn it!
        I’ll just have to enjoy the play of bliss and light without my usual clicking
        away. What was it like to be with Blissy Be after all the passages of bodies
        aging? It was the most natural of moments so Sudra couldn’t feel any edge to
        measure anything about it. All the voices of all the unfulfilled voices were
        absent in their walk and so they felt each other without his great purpose and
        even without Sudra’s meaningless meaning. There was no purpose to their
        togetherness and yet the question arose in Sudra, “How can others account for
        our marriage and our living apart?”</p>

        <p >Blissy Be smiled at Sudra and held her hand. He spoke
        sweetly and said, “Our love—our marriage is the marriage of consciousness and
        existence. We have played our parts both knowing ourself in thes marriage of
        consciousness and energy. You my dear Sudra, appear as energy and play in
        existence. You play in your way with light, always observing and shining the
        light of true feeling, of absolute beauty lived in and as the forms of all. You
        play in this way using photography and video and all the arts as your darshan
        play with energy and existence. This is the way you teach and live others,
        feeling them and revealing them into and as the marriage of energy/existence
        and consciousness. You use light feeling.”</p>

        <p >“Yes, that is the way of me, of my meaningless meaningful
        play and your way of great purpose, Blissy Be.”</p>

        <p >Blissy Be faced the sun and stared into it for a brief
        moment and then faced Sudra. “My way of great purpose is the story and life of
        our marriage. My teaching work is the story of our love, of how consciousness
        and energy fell in love with each so fully and so completely that they can
        never be separated. The source and the manifested are the same bliss; they are
        consciousness itself. Light and consciousness are the same.</p>

        <p >“All those years of teaching made the way for your
        livingness of light/energy/consciousness. You came down with me and courted me
        as experience and desire and when I needed and wanted to love you more, you
        showed yourself to me as the mother/Shakti and then as lover/Shakti and when I
        couldn’t bear to live without you even for a second, you showed yourself as my
        very self: as the perfect union of consciousness and energy. In the realization
        of no separation between manifestation (energy) and consciousness (source) our
        marriage began.”</p>

        <p >Blissy Be cleared his throat and smiled sweetly at Sudra.
        “My teaching years were involved in the great purpose of allowing the form of
        you to be conscious of this marriage.”</p>

        <p >Sudra spoke, “I know it was a most difficult work to bring
        this form into the marriage of understaning.”</p>

        <p >“Yes, but my love, it was my heart’s great purpose to bring
        you here, fully manifested in the understanding of this marriage. And then my
        task was even harder for I had to leave you alone and let you play as you are
        so you could accomplish your meaningless play.”</p>

        <p >“And I wanting so much ever to be with you had to allow my
        play of meaningless meaning to dance its way. To be without your physical
        company was also harder than any other task that was put before me. But we are
        the same, you with your great purpose, and I with my meaningless meaning. Over
        time my aloneness birthed the understanding of ‘I Am She’ which was the knowing
        that I Am She was the marriage of energy and consciousness and this gave play
        and purification of the idea of the feminine principle as only deluding force.”</p>

        <p >“Yes, Sudra, you had to play out in a feminine form,
        apparently separate from my form but of course not separate in understanding—we
        were truly married in the truest sense—no difference—from source or
        manifestation, you had to play it out this way . . .”</p>

        <p >“To who women the truth of their true condition.”</p>

        <p >“Yes, to end the battle of the sexes, the fight between
        knowledge and feeling, the difference between head and heart, between light and
        consciousness . . .”</p>

        <p >“Yes, and when the battle of the feminine as warrior of the
        heart, not seductress of experience, was won in understanding I declared
        victory not only as ‘I Am She’ but also as ‘I Am She-I Am He’.”</p>

        <p >“Yes, the time to reveal the understanding of the marriage
        of consciousness and energy manifested and cried out in your apparent separate
        form.”</p>

        <p >“Blissy Be, I have always loved you and acknowledged you as
        the source of understanding.”</p>

        <p >“Sudra, it is hard for those who are not married to
        understanding to understand the play of our marriage. My whole life has been
        involved in a great love and marriage with you.”</p>

        <p >“Yes, Blissy Be, they interpret the separation as a
        separation from heart and understanding and even as masculine supremacy over
        the feminine.”</p>

        <p >“They see the separation as unworthiness on my part, of not
        having recognized male force as ultimate power.”</p>

        <p >“Yes, those ideas belong to the ego and the games of its
        immunity. You know the truth now, the full truth and you can never be anything
        but the truth.”</p>

        <p >“Blissy Be, will our loved ones and the world ever see that
        we are the same and see us how we are here today, simply together in this
        perfect marriage of heart and light?”</p>

        <p >“Yes, my dear Sudra, in these words put to paper, our
        appearance is being made and felt and those who want to love without separation
        will understand our play, our marriage. For in our marriage everyone is wedded
        . . . all hearts are realized in the light and the open heart will love its
        existence.”</p>

        <p >“We are at the dawn of this understanding, aren’t we Blissy
        Be?”</p>

        <p >“Yes, my love, existence will know itself as consciousness
        and all of existence will be wedded to the heart and know its heart as
        happiness, as its very source . . . as consciousness itself.”</p>

        <p >Sudra stood up and faced the sun of her beloved. “It has
        been given.”</p>

        <p >“And it is done, my dearest Sudra. We are forever on our
        honeymoon now.”</p>

        <p >Sudra kissed her beloved very self. His bright heart shined
        also as a very bright open face. She thought, this is the only moment there is
        and ever will be. This is the meaningless meaning of the story of our marriage.</p>

        <p >“And!!!!!” added Blissy Be . . . just because! Just because
        he like to have the last crazy word in. Sudra love that!!!! About him!!!</p>
    </accordion-group>  
    <accordion-group heading = "A Story to Celebrate Adi Da's Birthday (November 3)" >
      <p>Happy Celebration of the birth and life of the Beloved of All. His appearance
        remains alive as the form of all Beings. We will continue in the work of the great
        love that He Is.</p><p>
        <img src="Images/flower-with-star-in-hand-design.jpg" />
        <img src="Images/flower-in-hand-1.png" /><img src="Images/flower-in-hand-2.png" />
        <img src="Images/flower-in-hand-3.png" /><img src="Images/flower-in-hand-4.jpg" />
      </p>
    </accordion-group>  
    <accordion-group heading = "A letter to Ruchiradama Quandra Sukhapur Rani" >
      <p>Dear Ruchiradama Quandra Sukhapur Rani,</p><p>
      Hello, dear sister of and as the Heart.  I am writing to you today to tell you of my secret, though it is an open secret and given freely to all those who are in need of it, today is the day I need to make a special specific gesture to reveal it in this personal way to you. I recognize your special dedication to the life and work of Avatar Adi da Samraj; your love and work to serve the Great Beloved is a shining example of how beautiful the  guru/devotee relationship is.</p>
      <p>I have been waiting to reveal to you my life and relationship to our Great Beloved. I have been his open secret, living a quiet life revealing to a small circle of friends the  beauty of this realization of Already Happy and acknowledging Avatar Adi Da as the  Source and Source Transmission.  Since the dropping of Avatar Adi Da's body, I have met a few leaders of Adidam and enjoyed the news of their life with Adi Da.  I also felt 
      their grief in His Passing and their struggle to carry on with the great purpose of continuing to serve Beloved's work.  They all felt that at a certain date it would be a good occasion for the two of us to meet.  They did not know how to bring this about and today I felt Beloved’s internal urging to open up my arms and heart to you. 
      I am asking for nothing, except to offer my love for Beloved to you and hopefully you will feel my love towards you as well.</p>
     <p>I did not know of any way to bring you my offering of love, it occurred to me to use 
       my website as a means to accomplish this.  This website includes both my story of my 
       life and recognition of Adi Da and some of my artwork that I have been doing for over 
       twenty years.  It will tell my story so to speak so you can understand my relationship 
       with Beloved.  It has been a great mystery why He has kept me his open secret.  The 
       Divine works in very mysterious ways and Its wisdom cannot, at times, be revealed and 
       even when it is revealed, at times, we can not understand it.  </p><p>For many years I have 
       been frustrated at Beloved's impulse for me to come forward and at the same time 
       Beloved has blocked this from happening. This has served me to serve his work in my 
       own way, which has strengthened my work and life in so many positive ways.  Often 
       I have received His instruction via dreams and visions. He often worked in dreams to 
       bring about a connection between us.  In the early period of this internal work you 
       would accept his instruction to ‘go hang out’ with Santosha to accomplish his instruction.  
       In the later periods we slowly learned to accept this arrangement of being thrown together 
       by Beloved and began to enjoy a natural friendship based on our love of Adi Da. </p><p>
        Perhaps you have some feeling of me, I don’t know.  All I can say is I am here for 
        you and I offer my service of open heart to you.  It stands, I am happy.</p><p>
        &nbsp;  &nbsp;  &nbsp;  &nbsp;Your sister,<br />
        &nbsp;  &nbsp;  &nbsp;  &nbsp; Always love, always the<br /> 
        &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp; Avatar Adi Da Samraj
      </p>
  </accordion-group>
  <accordion-group heading="My love and submission to Adi Da">
  	<p>(p 124). . . my love and submission [to Adi Da] were not as one who 
            submits to law, to mere belief in rightful knowledge, or to superiority. 
            But it was as one who is guided and attracted beyond conditioning into the 
            disposition of the vastness of unknowing, of Divine Ignorance, as Heart-knowing 
            and Heart-revelation in direct experience. His Presence in my life was not one 
            of demanding forceful submission, or of forfeiting my own impulse of intuition. 
            It was His direct demonstration of His yielding to me, to attract me beyond false 
            identity as the separate one. He taught me the grace and art of yielding 
            conditioning, roles, identity, and even attention itself and the primal 
            root of being the separate one. He always asked me to discipline what was 
            false and to allow what was true to be felt, and to sensitize the body-mind. 
            He literally did this as mySelf, as the Divine Force that attracted me (what I 
            thought was me) to let go and allow what was True to be realized and made manifest.
    </p>
	

    
    </accordion-group>
    <accordion-group heading="He is the miracle man">
    <p>I was the ordinary woman<br/>
	            in understanding Himself<br/>
	            He has understood everything<br/>
	            Everything now understands<br/>
	            because of His understanding of everything</p>
	
	            <p>He is the man that love<br/>
	            always points to<br/>
	            In the dictionary of meanings<br/>
	            Love is His name<br/>
	            His name is Love's definition</p>
	
	            <p>I was the ordinary woman<br/>
	            who was attracted beyond mere appearances<br/>
	            to this miracle man<br/>
	            His recognition of Me<br/>
	            is the miracle He opened<br/>
	            I am now and forever the woman of understanding<br/>
	            I am the She of He<br/>
	            Everyone now understands<br/>
	            because of His understanding of every One</p>
  </accordion-group>
  </accordion> 
</div>    
</div>