<div id="contact">
  <div id="contactus">
  <p>If you feel a connection to Santosha through her writing and art and
  would like to make a heartfelt communication to her, send us an email at 
  innocenceofherform@gmail.com and we will be happy to pass it on to her.</p>
  <br><br>
  <p>If you are interested in attending a Friday night meditation (either in person
    or by virtual meeting), please contact
    Torrey for information: <br>    
    email: barbss5754@gmail.com<br>
    cell / text: 559-769-5133 
  </p>
  </div>
