<div id="contact">
  <div id="contactus">
  <p>If you feel a connection to Santosha through her writing and art and
  would like to make a heartfelt communication to her, send us an email at 
  innocenceofherform@gmail.com and we will be happy to pass it on to her.</p>
  <br><br>
  <p>If you are interested in attending a Friday night meditation (either in person
    or by virtual meeting), please contact
    Torrey for information: <br>    
    email: barbss5754@gmail.com<br>
    cell / text: 559-769-5133 
  </p>
<br>
 ***message from Torrey
  <p>NOTICE!  Live streaming Friday night meditations with Santosha Ma!
      If you are interested in being in the room virtually with Santosha Ma on her Friday night
      meditations, you can do that on most Friday nights!  
      Contact James at jgsack@gmail.com and he sends out the email meeting invitations for Skype meeting.  
      Skype is a free program you can easily download.  
    Any questions, ask Torrey (contacts above), or if they are of a technical nature, better to ask James!  
<br>
Love to all!
<br>  
--Torrey</p>
  </div>
