<div id="contact">
  <div id="contactus">
  <p>If you feel a connection to Santosha through her writing and art and
  would like to make a heartfelt communication to her, send us an email at 
  innocenceofherform@gmail.com and we will be happy to pass it on to her.</p>
  </div>
  <div class="presentations">
  <p style="font-weight:bold">Some Upcoming Presentations in California:</p>
  <h3>Introduction to Santosha Tantra</h3>
  <p>Presentation by a long-time devotee</p>

  <dl><dt>When: July 7th  - 7:30 pm - Thursday</dt>
    <dd>Where: San Rafael Community Center - Lounge</dd>
    <dd>618 B Street, San Rafael, CA</dd>     
    <dt>When: July 8th - 7:30 pm - Friday</dt>
    <dd>Where: Corte Madera Town Center</dd>
    <dd>Suite 201 - 2nd floor - Steps on south side of the mall near AT&T</dd>  
    <dd>770 Tamalpais Drive, Corte Madera, CA</dd> 
    <dt>When: July 10th - 1:30 pm - Sunday</dt>
    <dd>Where: Unitarian Universalist Church of Marin - Fireside Room</dd>
    <dd>240 Channing Way, San Rafael, CA</dd>      
 </dl>
 <p>Cost: FREE</p>
 <p>Questions? Contact Susan: devoteeofsantosha@gmail.com </p>
  </div>