 <div ng-controller="BookController" layout="row" layout-align="start center">
 <img alt="Santosha Tantra profile" src="Images/profile.jpg" class="profile" />   
   <div class="center_content">   
   <p style="font-weight:bold;">Get The Innocence Of Her Form for free</p> 
   <hr>   
   <a href="pdf/InnocenceOfHerForm.pdf">Download the eBook in pdf form (6.07 MB)</a>
   <hr>   
   <p>Or, if you would like a paperback version, send an email to innocenceofherform@gmail.com with your name and address. We will send you a book through the mail. (we will cover the postage)</p>
   </div> 
  <img  alt="Book: The Innocence of Her Form" id="Img1" src="Images/Cover280b.jpg" />
  </div> <!--end free book-->