<div ng-controller="HomeController" layout="row" layout-align="start center">
  <img alt="Santosha Tantra profile" src="Images/profile.jpg" class="profile" />    
  <div style="width:360px;margin-left:30px;font-size:0.8em;">
      <img  alt="The Innocence of Her Form" src="Images/HomeTitle360.png" />
    <h3>{{header}}</h3>
    This is the autobiography of a woman Realizer, Santosha Tantra. It clearly 
    describes the process of Seventh-Stage sadhana and Realization given  
    by Avatar Adi Da Samraj. It is an inspiration for all and a living 
    demonstration of Adi Da's Work and Its authenticity. 
    <ul>
    <li><a href="pdf/InnocenceOfHerForm.pdf">Download the free eBook in pdf form (6.07 MB)</a></li>
    <li style="cursor:pointer" id="paperback"><a ng-class="{ active: isActive('/book')}" href="#/book" id="getbook">Get a paperback version</a></li>
    </ul>    
  </div> 
  <div style="margin-left:20px;">    
    <img  alt="Book: The Innocence of Her Form" id="cover" src="Images/Cover280b.jpg" width="225px" />
    <br /><br />
    <div style="font-size:0.8em;color:#224466">
     <ul style="padding-left:20px"><li>
     <a href="#/art">New Gallery with single amazing collage</a><br />      
                      posted August 19, 2017 
     </li>   
     <li><div style="background-color: #ddeeff"> 
     <a href="#/stories">New Story by Santosha Tantra <br />      
                      "Let the Revolution Begin"<br />      
                      posted August 19, 2017 </a> 
     </div></li>     
     <li><a href="#/stories">New Journal Entry by Santosha Tantra <br />      
                      "True Way Bennett Was Born"<br />      
                      posted August 15, 2017 </a>   
      </li>
     </ul> 
                      
     </a>
    </div> 
  </div> 
</div>
