<div ng-controller="HomeController" id="home" layout="row" layout-align="start center">
  <img alt="Santosha Tantra profile" src="Images/profile.jpg" width="225px" />    
  <div style="width:360px;margin-left:30px;font-size:0.8em;">
      <img  alt="The Innocence of Her Form" src="Images/HomeTitle360.png" />
    <h3>{{header}}</h3>
    This is the autobiography of a woman Realizer, Santosha Tantra. It clearly 
    describes the process of Seventh-Stage sadhana and Realization given  
    by Avatar Adi Da Samraj. It is an inspiration for all and a living 
    demonstration of Adi Da's Work and Its authenticity. 
    <ul>
    <li><a href="InnocenceOfHerForm.pdf">Download the free eBook in pdf form (6.07 MB)</a></li>
    <li style="cursor:pointer" id="paperback">Get a paperback version</li>
    </ul>    
  </div> 
  <div style="margin-left:20px;">    
    <img  alt="Book: The Innocence of Her Form" id="cover" src="Images/Cover280b.jpg" width="225px" />
    <br /><br />
    <div style="font-size:0.8em;color:#224466">
     New Story added Oct 28, 2014:<br /> 
     <a style="color:green;" href="TripToFiji.pdf">I Am She, Durga: The Trip To Fiji
     </br>by Susan Shaw</a><br /> 
    </div> 
  </div> 
</div>