<div ng-controller="HomeController" layout="row" layout-align="start center">
  <img alt="Santosha Tantra profile" src="Images/profile.jpg" class="profile" />    
  <div style="width:360px;margin-left:30px;font-size:0.8em;">
      <img  alt="The Innocence of Her Form" src="Images/HomeTitle360.png" />
    <h3>{{header}}</h3>
    This is the autobiography of a woman Realizer, Santosha Tantra. It clearly 
    describes a unique process of sadhana and Realization in relationship to her
    human teachers Adi Da and Rama and many others who appeared in dreams and visions. 
    It is an inspiration for all of us on the path of freedom. 
    <ul>
    <li><a href="pdf/InnocenceOfHerForm.pdf">Download the free eBook in pdf form (6.07 MB)</a></li>
    <li style="cursor:pointer" id="paperback"><a ng-class="{ active: isActive('/book')}" href="#/book" id="getbook">Get a paperback version</a></li>
    </ul>    
  </div> 
  <div style="margin-left:20px;">    
    <img  alt="Book: The Innocence of Her Form" id="cover" src="Images/Cover280b.jpg" width="225px" />
    <br /><br />
    <div style="font-size:0.8em;color:#224466">
     <ul style="padding-left:20px">     
     
    <li><a href="#/stories">New Stories</a><br />
      In Her Presence<br />                         
      <span style="color:gray">site updated May 30, 2021</span>
     </li>     
     </ul> 
                      
     </a>
    </div> 
  </div> 
</div>
