<div layout="row" layout-align="start center">
<img alt="Santosha Tantra profile" src="Images/profile.jpg" class="profile" /> 
  <div style="margin-left:100px;">
  <h3>Websites related to Santosha Tantra</h3>
  <dl><dt><a href="https://www.youtube.com/user/vidspfx" target="blank">Santosha's YouTube Channel: Source Transmission</a></dt>
    <dd>Videos of Santosha talking about spiritual practice</dd>     
    <dt><a href="http://adidam.org" target="blank">Adidam.org</a></dt>
    <dd>The primary site of Avatar Adi Da Samraj's life and work</dd>   
 </dl>  
  </div>
  </div>