<div ng-controller="ReviewsController" layout="row" layout-align="start center">
 <img alt="Santosha Tantra profile" src="Images/profile.jpg" class="profile"/>
  <div class="wrap_accord">
  <accordion close-others="true">
    <accordion-group is-open="true" heading = "This book is awesome" >
       <p>This book is awesome.  Just the title is so beautiful, 
        it is a blow-away.  And she tells these stories, one after another, 
        that are incredible – what she experienced, what she saw, what she felt – it’s 
        all so full of clarity, so intelligent, so passionately, unerringly driven by 
        love and certainty about God, no matter what.  Awful and beautiful things happened 
        to her, and it all seems to just feed her heart, her drive to know the total complete 
        Truth about life and Love.  And she does not stop until she is enlightened.  And it 
        doesn’t end there. </p>
        <p>I get a rush reading it every time I open it. She’s an amazing woman. It’s worth reading no matter 
        what you think or believe about God or enlightenment or spirituality.  She goes through all of it! 
         All of it.  What I feel is true about life in my heart, she uncovers it, all the aspects from happy 
         to sad to wonderful to awful – she just uncovers it all and makes it part of something bigger, a bigger 
         point of view, part of a process of discovering my heart in all of it, of discovering the real Truth. 
          It’s a great story, wonderful. </p> 
        <p> Barbara Scrafford</p>
    </accordion-group>
    <accordion-group heading = "An inspiring and unforgetable story">
        <p>The Innocence Of Her Form is an inspiring and unforgetable story.  It's like 
            Santosha Tantra opened her heart and took me on an intimate journey with her.  
            A journey of passion and love for the Truth, to be love.  The story itself is 
            incredible, but as I read her book I feel the actual transmission of who She Is, 
            her love and Presence and her forever giving heart giving love to the reader.  
            It is a fearless story of great courage that every woman should read.  She experiences the dark 
            side of what it is to be a woman, but in it, she uncovers the female programming, that shows 
            her that she is not being singled out by life to suffer--rather the programming is impersonal, 
            and it is what is being pressed on her as a woman in this culture.  I was stunned that she was 
            able to make this discovery while living the experience and know that it was not her true identity 
            of "Free Flow" as Love itSelf.</p> 

            <p>Her journey in sadhana is remarkable, in itself, but throughout her journey I feel her passionate 
            quest and heart devotion to Avatar Adi Da Samraj, her Guru and later, after her Awakening, her Consort.  
            I was overwhelmed at times by her courage, purity and innocence.</p> 

            <p>I recommend this book to anyone who is longing to see and feel the truth and who is longing to go on 
            a pure heart journey.  Even as an Awakened Master she lives to respond in love to her "Heart-Husband" 
            Avatar Adi Da Samraj--all the while saying, "I have fallen in love with everyone and everything."  
            When I read this the transmission was so strong that my heart sighed and relaxed into that love that 
            even seemed personal to me.</p> 

            <p>I loved how the short stories at the end of the Innocence Of Her Form carried me further into the 
            journey and mystery of the Divine love affair between Santosha and Adi Da.  It is a must read.</p> 

            <p>Pat Smith</p>
    </accordion-group>
    <accordion-group heading = "Pure Masterpiece!">
            <p>"The Innocence of Her Form" is a remarkable book beyonds word to me. I love the fact this 
            book is about the Divine relationship between two Realizers and Santosha's constant devotion to her 
            Guru, Avatar Adi Da Samraj both before and after her realization. I am amazed at her discrimination 
            to stay one pointed and yielding to what is truest through her sadhana and teaching period. To
            me, Santosha is a great hero and our role model because of her innocence to answer higher calls and 
            lives her life knowing that great love is a sacrifice. This book teaches us to realize that such love
            exists. Pure Masterpiece!</p>
            <p>Yasuko Standfree</p>
    </accordion-group> 
    </accordion>
    </div> 
  </div> 