<div ng-controller="SchoolController" layout="row" layout-align="start center" class="ng-scope">
 <img style="margin:0" alt="Santosha Tantra profile" src="Images/profile.jpg" class="profile"/>
  
  <div class="mainBody" style="height:540px;margin:10px;font-size:0.8em;">
		<h1>The Beginning Practice for the Mountain Peak of Enlightenment</h1>
        <br/>
		<p>The Mountain Peak of Enlightenment is a school based on the Teaching work of the Enlightened Spiritual Master Santosha
			Tantra, Divine Guru, Realizer and advocate of Avatar Adi Da Samraj. The school is to empower her devotees to prepare the
			way for those in the public interested in the truth and Way of Her Enlightenment, the Way of the Heart, the Way of the
			Unified Field of Love, to come forward and make contact. For those thirsty to awaken and devote themselves to a true spiritual
			master they may enter this new school,<em> The Beginning Practice for the Mountain Peak of Enlightenment</em>.</p>

		<h3>Santosha Ma, Enlightened Spiritual Master and True Love Itself</h3>

		<p>Over the years, Santosha Ma has been the catalyst for many who felt the pull toward God. Now, through Her Divine Grace,
			She has set in motion the means for Her devotees to navigate the Path by helping themselves and others. We all deal with
			the same demons, no matter what form they may take, and the eyes, ears, and hearts of those who know the pitfalls of the
			Path and have dedicated their lives to climbing the Mountain Peak of Enlightenment can shine a light on the road ahead.
			Through discussions on meditation, honest appraisal of our emotional tantrums, and our constant turning toward the Presence
			and boundless Love of our Master, we can live genuine spiritual practice, together.</p>

		<p>Enlightened Master Santosha Tantra is now opening up Her ashram to those thirsty for true spiritual practice. All those
			who apply must be serious, be stable and responsible in their lives, and will be expected to adhere to the rules of conduct
			in order to attend entry level meetings. All this is prerequisite to entering the circumstance of Satsang (sighting) with
			Santosha Ma. These students must show a willingness to transcend ego, show that they are done with the personal story
			of themselves in the world, having only a thirst to rightfully enter the authentic spiritual practice of abiding in the
			Unified Field of Love moment by moment.</p>

		<p>Those interested can contact us <a style="color:#446688;font-weight:bold;" href="mailto:enbbug1@gmail.com">here</a>. Once your application is reviewed, a Circle
			administrator will contact you. Applicants will be expected to have already read Santosha Tantra's book, "The Innocence
			of Her Form," which can be downloaded <a style="color:#446688;font-weight:bold;" href="https://jgsack.github.io/innocence/pdf/InnocenceOfHerForm.pdf">here</a>.</p>
		</div>
   
  </div> 
