<div style="padding: 10px" ng-controller="VideoController">  
   <br> 
 <p>

   <a target="_blank" href="https://www.youtube.com/channel/UCsRkGZHV-pmXc_lJb_apPMw">Visit Santosha Ma's YouTube Channel</a>
 </p><br> <br> <p>


   <a target="_blank" href="https://youtu.be/w4B3FRWfuA0">View videos of Santosha Ma with Spanish subtitles</a>

</p><br> <br> 

   <iframe width="470" height="280" src="https://www.youtube.com/embed/Ufv2ETDP1NI#t=1m01s" frameborder="0" allowfullscreen></iframe>
  
</div>

  
